<!DOCTYPE html>
<html lang="en" ng-app="1know">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object#">
	<title><%= @content[:name] %></title>
	
	<meta charset="UTF-8">

	<meta name="keywords" content="1know, oneknow, ischool, flip, classroom, e-learning" />
	<meta name="description" content="<%= @content[:description].gsub(/<\/?[^>]*>/, "")[0, 120] if @content[:description] != nil %>..." />
	<meta name="author" content="ischool" />

	<meta property="fb:app_id" content="143261322503748" />
	<meta property="og:url" content="<%= @content[:page] %>" />
	<meta property="og:title" content="<%= @content[:name] %>" />
	<meta property="og:description" content="<%= @content[:description].gsub(/<\/?[^>]*>/, "")[0, 120] if @content[:description] != nil %>..." />
	<meta property="og:image" content="<%= @content[:logo] %>" />

	<link rel="icon" href="<%= @content[:logo]%>" />

	<link rel="stylesheet" href="/library/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/library/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="/css/default.css">

	<script src="/library/jquery/jquery-1.11.0.min.js"></script>
	<script src="/library/angularjs/angular.min.js"></script>
	<script src="/library/angularjs/angular-translate.min.js"></script>
	<script src="/library/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/language.js"></script>
</head>

<body ng-controller="MainCtrl as mainCtrl">
	<div id="globalAlertModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="text-danger">{{mainCtrl.global.message}}</h4>
				</div>
			</div>
		</div>
	</div>
	
	<div id="shareModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="btn-group">
						<a class="btn" ng-class="{'btn-default': mainCtrl.shareTarget.type != 'social', 'btn-primary': mainCtrl.shareTarget.type == 'social'}"
							ng-click="mainCtrl.shareTarget.type='social'">
							<span translate="P001" remark="分享這個群組"></span>
						</a>
						<a class="btn" ng-class="{'btn-default': mainCtrl.shareTarget.type != 'embed', 'btn-primary': mainCtrl.shareTarget.type == 'embed'}"
							ng-click="mainCtrl.shareTarget.type='embed'">
							<span translate="P002" remark="嵌入"></span>
						</a>
						<a class="btn" ng-class="{'btn-default': mainCtrl.shareTarget.type != 'email', 'btn-primary': mainCtrl.shareTarget.type == 'email'}"
							ng-click="mainCtrl.shareTarget.type='email'">
							<span translate="P003" remark="電子郵件"></span>
						</a>
					</div>
				</div>
				<div class="modal-body">
					<div ng-if="mainCtrl.shareTarget.type=='social'">
						<div>
							<input type="text" class="form-control" ng-model="mainCtrl.shareTarget.page"/>
						</div>
						<div style="margin-top:10px">
							<a class="btn btn-sm btn-primary" ng-href="https://www.facebook.com/sharer/sharer.php?u={{mainCtrl.shareTarget.encodePage}}" target="_blank">
								<i class="fa fa-fw fa-facebook"></i>
							</a>
							<a class="btn btn-sm btn-info" ng-href="https://twitter.com/share?text={{mainCtrl.shareTarget.name}}&via=1know&url={{mainCtrl.shareTarget.encodePage}}" target="_blank">
								<i class="fa fa-fw fa-twitter"></i>
							</a>
							<a class="btn btn-sm btn-danger" ng-href="https://plus.google.com/share?url={{mainCtrl.shareTarget.encodePage}}" target="_blank">
								<i class="fa fa-fw fa-google-plus"></i>
							</a>
						</div>
					</div>
					<div ng-if="mainCtrl.shareTarget.type=='embed'">
						<textarea class="form-control" rows="3" style="resize:vertical" ng-model="mainCtrl.shareTarget.embed.code"></textarea>
						<div style="margin-top:10px">
							<label translate="P004" rmark="顯示大小"></label><label>：</label>
							<input type="text" style="width:50px;padding:0 5px;text-align:center" ng-model="mainCtrl.shareTarget.embed.width" ng-change="mainCtrl.changeShareEmbed()"/>
							<label> x </label>
							<input type="text" style="width:50px;padding:0 5px;text-align:center" ng-model="mainCtrl.shareTarget.embed.height" ng-change="mainCtrl.changeShareEmbed()"/>
						</div>
					</div>
					<div ng-if="mainCtrl.shareTarget.type=='email'">
						<div>
							<label translate="P005" remark="收件者"></label>
							<textarea class="form-control" rows="1" style="resize:none" ng-model="mainCtrl.shareTarget.email.user"></textarea>
						</div>
						<div style="margin-top:10px">
							<label translate="P006" remark="備註"></label>
							<textarea class="form-control" rows="3" style="resize:vertical" ng-model="mainCtrl.shareTarget.email.memo"></textarea>
						</div>
						<div style="margin-top:10px">
							<a class="btn btn-primary" ng-click="mainCtrl.sendShareEmail()">
								<span translate="P007" remark="傳送電子郵件"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div style="margin-top:60px" progress-container>
			<div class="progress progress-striped active" style="margin:0 auto;height:32px;width:400px">
				<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
					<h5><span remark="讀取中">Loading</span>...</h5>
				</div>
			</div>
		</div>
		<div style="display:none" main-container>
			<nav class="navbar navbar-static-top navbar-inverse">
				<div class="container">
					<div class="navbar-header">
						<a href="javascript:;" class="navbar-brand logo" style="padding:7px 15px" ng-click="mainCtrl.open1know()">
							<span class="logo-header">
								<span style="color:#f00">1</span>Know
							</span>
						</a>
					</div>
					<div class="collapse navbar-collapse" ng-if="mainCtrl.group&&mainCtrl.group.account">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="javascript:;" style="padding:7px">
									<img ng-src="{{mainCtrl.group.account.photo}}" style="width:24px;height:24px"/>
									<span style="margin:0 4px">{{mainCtrl.group.account.full_name}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="container" style="margin:20px auto">
				<div class="row">
					<div class="col-xs-3">
						<div class="panel panel-default">
							<div class="panel-body" style="padding:10px">
								<div>
									<img src="<%= @content[:logo] %>" style="width:191px;height:191px"/>
								</div>
								<div style="margin-top:10px" ng-if="mainCtrl.group" ng-switch="mainCtrl.group.account!=null">
									<div ng-switch-when="true" ng-switch="mainCtrl.group.joined">
										<a class="btn btn-danger btn-block" ng-switch-when="true" ng-click="mainCtrl.open()">
											<span translate="P009" remark="已加入">已加入</span>
										</a>
										<a class="btn btn-danger btn-block" ng-switch-when="false" ng-click="mainCtrl.join()">
											<span translate="P010" remark="申請加入">申請加入</span>
										</a>
									</div>
									<div ng-switch-when="false">
										<a class="btn btn-block btn-danger" ng-click="mainCtrl.signinWithIschool()">
											<span translate="P010" remark="申請加入">申請加入</span>
										</a>
									</div>
								</div>
								<div style="margin-top:20px">
									<span class="text-muted">
										<span translate="P011" remark="成員"></span> <span ng-if="mainCtrl.member_size>0">({{mainCtrl.member_size}})</span>
									</span>
									<div style="margin-top:10px">
										<a href="{{item.page}}" target="_blank" ng-repeat="item in mainCtrl.group.member" style="padding:0px;margin:0 1px 1px 0;text-decoration:none;display:inline-block">
											<img ng-src="{{item.photo}}" style="width:30px;height:30px"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-9">
						<div class="panel panel-default">
							<div class="panel-body" style="padding:10px">
								<div class="pull-right" style="margin-left:20px">
									<a class="btn btn-sm btn-danger" ng-click="mainCtrl.showShareModal()">
										<span translate="P012" remark="分享"></span>
									</a>
								</div>
								<h3 style="margin:10px 0 20px">{{mainCtrl.group.name}}</h3>
								<div>
									<div ng-bind-html="mainCtrl.group.description"></div>
								</div>
							</div>
						</div>
						<div class="panel panel-primary" ng-if="mainCtrl.group.knowledge_size>0">
							<div class="panel-heading">
								<h3 class="panel-title">
									<span translate="P013" remark="知識"></span> <span>({{mainCtrl.group.knowledge_size}})</span>
								</h3>
							</div>
							<div class="panel-body">
								<ul class="nav">
									<li ng-repeat="item in mainCtrl.group.knowledge">
										<a href="{{item.page}}" target="_blank" style="padding:4px">
											<div style="text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{$index+1}}. {{item.name}}</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="panel panel-primary" ng-if="mainCtrl.group.activity_size>0">
							<div class="panel-heading">
								<h3 class="panel-title">
									<span translate="P014" remark="活動"></span> <span>({{mainCtrl.group.activity_size}})</span>
								</h3>
							</div>
							<div class="panel-body">
								<ul class="nav">
									<li ng-repeat="item in mainCtrl.group.activity">
										<a style="padding:4px">
											<div style="text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#777">{{$index+1}}. {{item.name}}</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container" style="text-align:center;margin-top:20px">
				<span style="margin:0 8px">Copyright © 2012 ischool Inc.</span>
			</div>
		</div>
	</div>

	<script>
		angular.module('1know', ['pascalprecht.translate'])
		.config(function($sceProvider, $locationProvider, $translateProvider) {
			$sceProvider.enabled(false);
			$locationProvider.html5Mode(true);
			$translateProvider.translations('zh-tw', translations['zh-tw']);
			$translateProvider.translations('zh-cn', translations['zh-cn']);
			$translateProvider.translations('en-us', translations['en-us']);
			$translateProvider.translations('es-es', translations['es-es']);
			$translateProvider.translations('de-de', translations['de-de']);
		})
		.controller('MainCtrl', function($scope, $http, $location, $timeout, $translate) {
			var self = this;

			self.service_url = [location.origin, '/private'].join('');
			self.global = { message: '' };

			self.showShareModal = function() {
				self.shareTarget = {
					uqid: self.group.uqid,
					name: self.group.name,
					page: self.group.page,
					encodePage: encodeURIComponent(self.group.page),
					embed: {
						width: 800,
						height: 600,
						code: ['<iframe width="800" height="600" src="', self.group.page, '" frameborder="0" allowfullscreen></iframe>'].join('')
					},
					email: {
						user: '',
						memo: ''
					},
					type: 'social'
				};

				$('#shareModal').modal('show');
			}

			self.changeShareEmbed = function() {
				self.shareTarget.embed.code = ['<iframe width="', self.shareTarget.embed.width, '" height="', self.shareTarget.embed.height, '" src="', self.shareTarget.page, '" frameborder="0" allowfullscreen></iframe>'].join('');
			}

			self.sendShareEmail = function() {
				if (self.shareTarget.email.user !== undefined && self.shareTarget.email.user !== '') {
					var data = {
						url: self.shareTarget.page,
						uqid: self.shareTarget.uqid,
						email: self.shareTarget.email.user,
						memo: self.shareTarget.email.memo,
						type: 'group'
					};

					$http.post([self.service_url, '/utility/sendMail'].join(''), data)
					.success(function(response, status) {
						$('#shareModal').modal('hide');
					});
				}
			}

			self.open1know = function() {
				window.location.href = [$location.protocol(), '://', $location.host(), ':', $location.port()].join('');
			}

			self.signinWithIschool = function() {
				var width = 800;
				var height = 700;
				var top = (screen.height/2)-(height/2);
				var left = (screen.width/2)-(width/2);
				var state = encodeURIComponent(['join_group:', self.group.uqid].join(''));
				var target = ['https://auth.ischool.com.tw/oauth/authorize.php?client_id=a266592ce660b43f980d49b4079d53ed&response_type=code&state=', state, '&redirect_uri=', window.location.origin, '/oauth/ischool&lang=', self.lang, '&scope=User.Mail,User.BasicInfo'].join('');
				
				window.open(target, '1409620722041', ['width=',width,',height=',height,',menubar=0,titlebar=0,status=0,top=',top,',left=',left].join(''));
			}

			self.open = function() {
				window.location.href = [location.origin, "/#!/join/group/", self.group.uqid].join('');
			}

			self.join = function() {
				$http.post([self.service_url, '/join/', self.group.uqid, '/requestToJoin'].join(''))
				.success(function(response, status) {
					if (!response.error) {
						window.location.href = [location.origin, "/#!/join/group/", self.group.uqid].join('');
					}
					else {
						self.global.message = response.error;
						$('#globalAlertModal').modal('show');
						$('#globalAlertModal').on('hidden.bs.modal', function() {
							self.global.message = '';
						});
					}
				});
			}

			$http.get([$location.protocol(), '://', $location.host(), ':', $location.port(), '/group/<%= @content[:uqid] %>.json'].join(''))
			.success(function(response, status) {
				self.group = response;
				self.group.encodePage = encodeURIComponent(response.page);

				$('[progress-container]').hide();
				$('[main-container]').show();

				if (response.account) {
					$translate.uses(response.account.language.type);
				}
				else {
					var lang = 'en-us';

					if (window.navigator.language !== undefined)
						lang = window.navigator.language.toLowerCase();
					else if (window.navigator.systemLanguage !== undefined)
						lang = window.navigator.systemLanguage.toLowerCase();

					$translate.uses(lang);
				}
			});
		})
	</script>
</body>
</html>
